apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: actions-runner-system

resources:
- github.com/actions-runner-controller/actions-runner-controller/config//default?ref=v0.20.4
- ingress.yaml
- webhook-server.yaml
